.titulo{
    color: white;
    text-align: center;
}
.form-label{
    color: white;
    
}


#id_cliente.textarea.form-control, #id_email.textarea.form-control, #id_marca.textarea.form-control, #id_modelo.textarea.form-control, #id_defeito.textarea.form-control, #id_data.dateinput.form-control, #id_contato.numberinput.form-control {
    color: black;
    text-align: center ;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 20px;
    opacity: 70%;
    align-items: center;
    background-color: #52a5ef ;
    font-weight: bold;
    font-size: 20px;
    
    
}

label.form-check-label{
    color: white;
}
#bt{
    background-color: #52a5ef;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-align: center;
    

}

#bt{
    text-align: center;
    background-color: lightgreen;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 auto;
    width: 95px;
    height: 35px;
    display: block;
    border-radius: 10px;
    margin-top: 15px;
    
}