{% extends 'users/base.html' %}
{% block conteudo %}
{% load crispy_forms_tags %}
<div class="container">
    <h1 style="text-align: center;">PAINEL DE SERVIÇOS</h1>
    {% csrf_token %}
    <h1 style="text-align: center;font-size: 40px; " >
        <button style="background-color: cyan;" ><a href="novaos" style="color: black;">Criar O.S</a></button> 
        <button style="background-color: cyan;"><a href="osdetalhes" style="color: black;">Consultar O.S</a></button>                                     
        <button style="background-color: cyan;"><a href="{% url 'tabela' %}" style="color: black;">Listra de Preços</a></button>
        <button style="background-color: cyan;"><a href="{% url 'garantia' %}" style="color: black;">Emitir Garantia</a></button>
    </h1>
    <table>
        <tr>
            <th>Cliente</th>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{dado.cliente}}</td>
            <td>{{dado.marca}}</td>
            <td>{{dado.modelo}}</td>
            <td><button><a href="#">Detalhes</a></button></td>
            <td><button><a href="{% url 'editar' dado.id %}">editar</a></button></td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}