{% load static %}
{% load crispy_forms_tags %}
<body class="area-login">
    <section>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <div class="Faca_login", >
            <form method="post" class="login">
                <div>
                    <img src="{% static 'imagens/logo.png' %}" >
                </div>
                {% csrf_token %}
                {{ form | crispy }}
                <form >
                    <button type="submit">Logar</button>
                </form>
            </form>
        </div>
    </section>
</body>
