{% extends 'users/base.html' %}
{% block conteudo %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/tabelaprecos.css'%}">
<div class="container" id="div-principal">
    {% csrf_token %}
    <h1 id="titulo">TABELA DE PREÇOS E SERVIÇOS</h1>
    <div class="tabela">
        <table >
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Peça</th>
                <Th>Valor</Th>
            </tr>
            {% for dado in tabela %}
            <tr>
                <td>{{dado.marca}}</td>
                <td>{{dado.modelo}}</td>
                <td>{{dado.pecaeservico}}</td>
                <td>R${{dado.valor}}</td>
                <td><button><a href="{% url 'excluirpeca' dado.id %}">Excluir</a></button></td>
                <td><button><a href="{% url 'editarpeca' dado.id %}">Editar</a></button></td>
            </tr>
            {% endfor %}
            
            <button><a href="{% url 'cadastropeças' %}">Cadastro De Peças</a></button>
    
         </table>
    </div>
</div>
{% endblock %}